# Local / secret shell configs
.zshrc.local
*.local

# Editor
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# VS Code — only track User/settings.json
.config/Code/*
!.config/Code/User/
.config/Code/User/*
!.config/Code/User/settings.json


# Antigravity IDE — only track User/settings.json
.config/Antigravity IDE/*
!.config/Antigravity IDE/User/
.config/Antigravity IDE/User/*
!.config/Antigravity IDE/User/settings.json


# VLC runtime state
.config/vlc/vlcrc

# GPU screen recorder
.config/gpu-screen-recorder/restore_token
.config/Antigravity IDE/Network Persistent State
.config/Antigravity IDE/Cache/Cache_Data/index-dir/the-real-index
.config/Code/agent-host/local-endpoint/metadata.json
